<% galleries_array.each do |t| %>

	<div class="span4 widget-container-span"><div class="widget-box">
			<div class="widget-header">
				<h1>&nbsp;</h1>

				<span class="widget-toolbar">
					<%= link_to admin_gallery_path(t), :method=>:delete, confirm: "Galeriyi silmek istediğinize emin misiniz?" do %>
						<i class="icon-remove"></i>
					<% end %>
				</span>
			</div>
	
			<div class="widget-body">
	
				<div class="widget-main">
					<div class="row-fluid">
						<% if !t.pictures.blank? %>
						<div class="span4">
							<ul class="ace-thumbnails">
													<li>
																												
										<%= link_to edit_admin_gallery_path(t) do %>
											<img alt="200x200" width="100" height="100"src="<%= t.pictures.last.image(:absolute_thumb) %>">
										<% end %>
						
									
												</li>
													</ul></div>

							<div class="span8">
								<h6><%= link_to t.title, edit_admin_gallery_path(t) %></h6>
							</div>
						<% else %>
						<div class="span6">
							<%= link_to admin_picture_add_to_gallery_path(t), class: "btn btn-app btn-light" do%>
							<i class="icon-picture bigger-200"></i>
							Resim ekle
							<% end %></div>
						<div class="span6">
							<h6><%= link_to t.title, edit_admin_gallery_path(t) %></h6>
						</div>
						<% end %>

													</div>
	
								</div>
	
					</div>
	
			</div></div>

			<% end %>