
<div class="row-fluid">
<div class="span12">
<div class="page-header position-relative">
<h1><%= "#{@category.title} kategorisindeki " if @category %>Haberler</h1>
</div>

<%= link_to 'Yeni Haber', new_admin_article_path(:category_id=>params[:category_id]), class: "btn btn-success", style: "margin-bottom: 10px"%>
<% if current_user.has_role? :admin %>
<%= link_to 'Onay bekleyen haberler', admin_articles_path(:active=>false), class: "btn btn-warning", style: "margin-bottom: 10px"%>
<% end %>

<% if @articles.any?  %>
<table class="table table-striped table-bordered table-hover">

  <thead>
    <tr>
      <th>Başlık</th>
      <th>Yayın tarihi</th>
      <th>Kategori</th>
      <th>Etiketler</th>
      <th></th>

    </tr>
  </thead>

  <tbody>

    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= l article.publish_date, :format=>:standart %></td>
        <td>
        <% unless article.category.blank? %>
        <%= content_tag('span', article.category.title, :class=>"label label-info arrowed-right arrowed-in")  %>
        <% end %>
        </td>
        <td><%= article.tag_list.map { |x| link_to x, admin_tag_path(x), :class=>"label label-success arrowed-in arrowed-in-right"}.join(', ').html_safe %></td>
        <td><%= link_to admin_article_path(article), class: "btn btn-invert btn-mini", title: "Detay" do %>
           <i class="icon-info-sign"></i>
          
          <% end %>
        <%= link_to edit_admin_article_path(article), class: "btn btn-info btn-mini", title: "Düzenle" do %>
        <i class="icon-edit"></i>
          
        <% end %>
        <%= link_to new_admin_gallery_path(:article_id=>article), class: "btn btn-warning btn-mini", title: "Galeri ekle" do %>
        <i class="icon-picture"></i>
          
        <% end %>
        <%= link_to admin_article_path(article), class: "btn btn-danger btn-mini", method: :delete, data: { confirm: 'Haberi silmek istediginize emin misiniz?' }, title: "Sil" do %>
        <i class="icon-remove"></i>
          
        <% end %>
        </td>
      </tr>
    <% end %>

  </tbody>

</table>
  <% else %>
<div class="alert alert-warning">Haber bulunamadı.</div>
<% end  %>
    <%= will_paginate @articles, :renderer=>"BootstrapLinkRenderer" %>

<br>


</div>
</div>