<div class="page-header position-relative">
<h1>"<%= params[:tag] %>" etiketli haberler</h1>
</div>
<%= link_to 'Yeni Haber', new_admin_article_path(:tag=>params[:tag]), class: "btn btn-success", style: "margin-bottom: 10px"%>
<table class="table">
  <thead>
    <tr>
      <th>Başlık</th>
      <th>Yayın tarihi</th>
      <th>Kategori</th>
      <th>Etiketler</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.publish_date %></td>
        <td><%= article.category.title unless article.category.blank? %></td>
        <td><%= article.tag_list.map { |x| link_to x, admin_tag_path(x)}.join(', ').html_safe %></td>
        <td><%= link_to admin_article_path(article), class: "btn btn-invert btn-mini", title: "Detay" do %>
           <i class="icon-info-sign"></i>
          
          <% end %>
        <%= link_to edit_admin_article_path(article), class: "btn btn-info btn-mini", title: "Düzenle" do %>
        <i class="icon-edit"></i>
          
        <% end %>
        <%= link_to new_admin_gallery_path(:article_id=>article), class: "btn btn-warning btn-mini", title: "Galeri ekle" do %>
        <i class="icon-picture"></i>
          
        <% end %>
        <%= link_to admin_article_path(article), class: "btn btn-danger btn-mini", method: :delete, data: { confirm: 'Haberi silmek istediginize emin misiniz?' }, title: "Sil" do %>
        <i class="icon-remove"></i>
          
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


