<div class="row-fluid">
<div class="span12">
<div class="page-header position-relative">
<h1>Kategoriler</h1>
</div>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Başlık</th>
      <th></th>
      <th></th>
      <th></th>
<th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>

      <tr>
        <td><%= category.title %></td>
         <td> <%= link_to admin_articles_path(category_id: category.id) do%>
          <i class="icon-list"></i>
          Haberler
        <% end %>
         </td>
        <td><%= link_to 'Show', admin_category_path(category), class: "btn btn-primary btn-mini" %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(category), class: "btn btn-info btn-mini" %></td>
        <td><%= link_to 'Destroy', admin_category_path(category), class: "btn btn-danger btn-mini", method: :delete, data: { confirm: 'Silmek istediğinize emin misiniz?' } %></td>
      </tr>

   <%  category.children.each do |category| %>
            <tr>
        <td><%= '- ' *category.level %><%= category.title %></td>
         <td> <%= link_to admin_articles_path(category_id: category.id) do%>
          <i class="icon-list"></i>
          Haberler
        <% end %>
         </td>
        <td><%= link_to 'Show', admin_category_path(category), class: "btn btn-primary btn-mini" %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(category), class: "btn btn-info btn-mini" %></td>
        <td><%= link_to 'Destroy', admin_category_path(category), class: "btn btn-danger btn-mini", method: :delete, data: { confirm: 'Silmek istediğinize emin misiniz?' } %></td>
      </tr>
      <%  category.children.each do |category| %>
            <tr>
        <td><%= '- ' *category.level %><%= category.title %></td>
         <td> <%= link_to admin_articles_path(category_id: category.id) do%>
          <i class="icon-list"></i>
          Haberler
        <% end %>
         </td>
        <td><%= link_to 'Show', admin_category_path(category), class: "btn btn-primary btn-mini" %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(category), class: "btn btn-info btn-mini" %></td>
        <td><%= link_to 'Destroy', admin_category_path(category), class: "btn btn-danger btn-mini", method: :delete, data: { confirm: 'Silmek istediğinize emin misiniz?' } %></td>
      </tr>
        <%  category.children.each do |category| %>
            <tr>
        <td><%= '- ' *category.level %><%= category.title %></td>
         <td> <%= link_to admin_articles_path(category_id: category.id) do%>
          <i class="icon-list"></i>
          Haberler
        <% end %>
         </td>
        <td><%= link_to 'Show', admin_category_path(category), class: "btn btn-primary btn-mini" %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(category), class: "btn btn-info btn-mini" %></td>
        <td><%= link_to 'Destroy', admin_category_path(category), class: "btn btn-danger btn-mini", method: :delete, data: { confirm: 'Silmek istediğinize emin misiniz?' } %></td>
      </tr>
        <%  category.children.each do |category| %>
            <tr>
        <td><%= '- ' *category.level %><%= category.title %></td>
         <td> <%= link_to admin_articles_path(category_id: category.id) do%>
          <i class="icon-list"></i>
          Haberler
        <% end %>
         </td>
        <td><%= link_to 'Show', admin_category_path(category), class: "btn btn-primary btn-mini" %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(category), class: "btn btn-info btn-mini" %></td>
        <td><%= link_to 'Destroy', admin_category_path(category), class: "btn btn-danger btn-mini", method: :delete, data: { confirm: 'Silmek istediğinize emin misiniz?' } %></td>
      </tr>
    <% end %>
    <% end %>
    <% end %>

    <% end %>

    <% end %>


  </tbody>
</table>
<%= will_paginate @categories, :renderer=>"BootstrapLinkRenderer" %>
<br>

<%= link_to 'Yeni Kategori', new_admin_category_path, :class=>"btn btn-success" %>
</div>
</div>